<script type="text/javascript" src="<%= @endpoint %>"></script>

<div class="row">
   <div class="col-lg-12">

      <!-- Flash messages -->
      <%= render 'layouts/flash' %>
      <!-- end of flash messages -->
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <h1>Search</h1>
      <form class="form-inline">
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Enter a name or location", class: "form-control enter-text" %>
        </div>
        <div class="checkbox">
            <label>
            <%= radio_button_tag(:search_type, "Name", true) %> Name
            </label>
        </div>
        <div class="checkbox">
            <%= radio_button_tag(:search_type, "Location") %>  Location
        </div>
        <div class="form-group">
          <%= submit_tag "Go!", :name => nil, class: 'btn btn-success' %>
        </div>
      </form>


    <div class="circle_map"id="map"></div>
    </div>

         <!-- NEARBY LOCATIONS code block -->
     <div class="col-lg-3 locations-panel">
        <h2>Nearby locations</h2>
            <ul class="list-group">
              <% if @locations %>
                <% @locations.each do |location|%>
                  <%= link_to location_path(location), 'data-no-turbolink' => true do %>
                    <li class="list-group-item" id="<%= location.id %>">
                      <span class="location-name"><%= location.name %></span>
                      <% if location.reviews.any? %>
                         <% location.average_rating.to_i.times do %>
                           <span class="glyphicon glyphicon-star"></span>
                       <% end %>
                       <% end %>
                    </li>
                  <% end %>
              <% end %>
           </ul>
            
            <% end %>

            <%= link_to new_location_path, class: "add-location" do %>
              <button type="button" class="btn btn-success">Add Location</button>
            <% end %>


     </div> <!-- end location_panel -->

   </div> <!-- end col -->
</div> <!-- end row -->



<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="locations-modal">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
        <%= form_for @like do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :location_id %>
        <%= f.submit "Add to favorites!", class: "btn btn-warning" %>
        <% end %>
      </div>
      <div class="modal-body text-center">
        <div id="myModalBody">
        <!-- Javascript Generated Content Here -->
        </div>
        <div id="addReviewBox">
          <a href="#" id="addReviewButton" class="btn btn-primary">Add a review!</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
